html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

body {
  background: #fafafa; /* fallback for non-supporting browsers */
  height: 100%;
  /* background: radial-gradient(circle, rgb(25, 160, 205) 50%, lightblue 100%) no-repeat center center fixed;  */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainscreen{
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  
}

.image-container {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-bottom: rgba(128, 128, 128, 0.3) 5px solid;
  border-radius: 3px;
  background-size: cover;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 100%;
  width: 75%;
  min-width: 75%;
  max-width: 75%;
  padding: 20px;
}

.image-display{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-bottom: rgba(128, 128, 128, 0.3) 5px solid;
  border-radius: 3px;
  width:auto;
  height:auto;
  max-width: 100%;
  max-height: 100%;
}
.text-container {
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-bottom: rgba(128, 128, 128, 0.3) 5px solid;
  border-radius: 3px;  */
  /* background-size: cover; */
  align-self: flex-end;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: auto;
  min-width: 100%;
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
}

header {
  display: flex;
  align-items: center;
  /* Remove the next line if you want the span to appear next to the h1 */
  justify-content: space-between;
  /* padding: 10px 30px; */
}

.top-text {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-bottom: rgba(128, 128, 128, 0.3) 5px solid;
  border-radius: 3px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
  flex-grow: 1;
  padding: 20px;
}

.bottom-text {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-bottom: rgba(128, 128, 128, 0.3) 5px solid;
  border-radius: 3px;
  background-size: cover;
  display: flex;
  justify-content: top;
  align-items: top;
  height: 85%;
  width: 100%;
  flex-grow: 1;
  margin-top: 10px;
  padding: 20px;
}

.infield  {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-bottom: rgba(128, 128, 128, 0.3) 5px solid;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 5px;
  padding: 5px;
  width: 95%;
  margin: 0 auto;
  height: 100px;
}

.incontainer{
  align-items: flex-start;
  height: 70px;
  width: 100%;
  padding: 1%;
  margin-bottom: 25px;
}

.outfield{
  padding: 0px;
  background-color: #fafafa;
  position: relative;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 0 auto;
  height: 700px;
  width: 95%;
  max-height: 700px;
}

.imgout{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-bottom: rgba(128, 128, 128, 0.3) 5px solid;
  border-radius: 3px;
  justify-content: center;
  text-align: left;
  /* background-color: #FFFFFF;
  border-color: grey;
  border-style: solid;
  border-width: 1px; */
  height: auto;
  min-height: 100px;
  max-height: 700px;
  width: auto;
  min-width: 25%;
  max-width: 75%;
}

.infoout{
  /* font-family: 'Roboto', sans-serif; */
  font-family: inherit;
  font-size: larger;
  flex-direction: column;
  align-self: flex-end;
  background-color: #fafafa;
  /* margin-right: 10px; */
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
  height: 680px;
  /* min-height: 500px; */
  width: 25%;
  max-width:  25%;
  /* max-height: 100%; */
}

.infoout_text{
  padding-left: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-bottom: rgba(128, 128, 128, 0.3) 5px solid;
  border-radius: 3px;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrolling */
  flex-grow: 1;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  height: 25%;
  width: 100%;
}

.infoout_json{
  padding-left: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-bottom: rgba(128, 128, 128, 0.3) 5px solid;
  border-radius: 3px;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrolling */
  align-self: flex-end;
  background-color: #FFFFFF;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  height: 55%;
  width: 100%;
}


body {
  text-align: left;
  margin: 0px;
  padding: 0px;
  background-color: #fafafa;
}

form {
  text-align: left;
  height: 100%;
  width: 85%;
}

.container {
  padding: 10px;
}

.text_bottom {
  bottom: 0;
}
